<!DOCTYPE html>
<html lang="en" xmlns:th="http://thmeleaf.org">

<div th:insert="@partials/head :: head"></div>

<body>

	<div th:replace="@partials/header :: formField(h2='news')"></div>

	<main class="main-container">

		<div class="grid-container">

			<div th:insert="@partials/aside :: aside"></div>

			<div class="main-content">
			
				<form th:action="@{/news/search}" method="GET" class="search-form">
					<input class="input-text" type="text" name="title" id=""
						placeholder="Search news by TITLE..." th:value="${title}">
						
					<input class="input-text" type="text" name="authorName" id="" pattern="[a-zA-Z ]*"
						placeholder="Search news by AUTHOR NAME..." th:value="${authorName}">
						
					<button type="submit" class="button search-button">
						<i class="uil uil-search"></i> SEARCH
					</button>
				</form>
			
				<div class="card" th:each="news : ${allNews}">
					<section class="news-header flex-container">
						<h2 class="news-title">
							<a th:href="@{/news/news-details/{id}(id=${news.id})}">
								<span th:text="${news.title}"></span>
							</a>
						</h2>
						<h4 class="news-date">
							<span th:text="${news.date}"></span>
						</h4>
					</section>
					<section class="news-body">
						<p class="news-content">
							<span th:utext="${#strings.abbreviate(news.content, 300)}"></span>
						</p>
					</section>
					<section class="news-footer flex-container">
						<ul class="news-categories">
							<li class="news-category" th:each="category : ${news.categories}">
								<a th:href="@{/categories/category-details/{id}(id=${category.id})}">
									<span th:text="${category.name}"></span>
								</a>
							</li>
						</ul>

						<h3 class="news-author">
							<a th:href="@{/authors/author-details/{id}(id=${news.author.id})}">
								<span th:text="${news.author.firstName}"></span>
								<span> </span>
								<span th:text="${news.author.lastName}"></span>
							</a>
						</h3>
					</section>

				</div>
			</div>
		</div>
	</main>

	<div th:insert="@partials/footer :: footer"></div>
</body>

</html>