<!DOCTYPE html>
<html lang="en" xmlns:th="http://thmeleaf.org">

<div th:insert="@partials/head :: head"></div>

<body>

	<div th:replace="@partials/header :: formField(h1='news', placeholder='Search news')"></div>

	<main class="main-container">

		<div class="grid-container">

			<div th:insert="@partials/aside :: aside"></div>

			<div class="main-content">
			
				<div class="buttons-container">
					<a th:href="@{/news/edit-news/{id}(id=${news.id})}">
						<button class="button">
							<i class="uil uil-edit-alt"></i> EDIT
						</button>
					</a>
					
					<a th:href="@{/news/{id}(id=${news.id})}">
						<button class="button">
							<i class="uil uil-trash"></i> DELETE
						</button>
					</a>
				</div>
			
				<div class="card" th:object="${news}">
					<section class="news-header flex-container">
						<h2 class="news-title">
							<span th:text="*{title}"></span>
						</h2>
						<h4 class="news-date">
							<span th:text="*{date}"></span>
						</h4>
					</section>
					<section class="news-body">
						<p class="news-content">
							<span th:utext="*{content}"></span>
						</p>
					</section>
					<section class="news-footer flex-container">
						<ul class="news-categories">
							<li class="news-category" th:each="category : ${news.categories}">
								<span th:text="${category.name}"></span>
							</li>
						</ul>

						<h3 class="news-author">
							<span th:text="${news.author.firstName}"></span>
							<span> </span>
							<span th:text="${news.author.lastName}"></span>
						</h3>
					</section>

				</div>

			</div>
		</div>
	</main>

	<div th:insert="@partials/footer :: footer"></div>
</body>

</html>