<!DOCTYPE html>
<html lang="en" xmlns:th="http://thmeleaf.org">

<div th:insert="@partials/head :: head"></div>

<body>

	<div
		th:replace="@partials/header :: formField(h1='authors', placeholder='Search authors')"></div>

	<main class="main-container">

		<div class="grid-container">

			<div th:insert="@partials/aside :: aside"></div>

			<div class="main-content">
				<div class="card" th:each="author : ${authors}">
					<section class="author-header">
						<h2 class="author-name">
							<span th:text="${author.firstName}"></span> <span> </span> <span
								th:text="${author.lastName}"></span>
						</h2>
						<h3 class="author-email">
							<span th:text="${author.email}"></span>
						</h3>
					</section>
					<section class="author-body">
						<ul class="author-news">
							<li class="news flex-container" th:each="news : ${author.news}"><span
								th:text="${news.title}"></span> <span th:text="${news.date}"></span></li>
						</ul>
					</section>
				</div>

			</div>
		</div>
	</main>

	<div th:insert="@partials/footer :: footer"></div>
</body>

</html>