<!DOCTYPE html>
<html lang="en" xmlns:th="http://thmeleaf.org">

<div th:insert="@partials/head :: head"></div>

<body>

	<div th:replace="@partials/header :: formField(h2='categories')"></div>

	<main class="main-container">

		<div class="grid-container">

			<div th:insert="@partials/aside :: aside"></div>

			<div class="main-content">

				<form th:action="@{/categories/add-category}" method="POST" th:object="${category}">
					<label class="form-label" for="name">CATEGORY NAME:</label>
					<input type="text" name="name" id="name" placeholder="Type the category name..." th:field="*{name}" pattern="[a-zA-Z ]*" required>

					<button type="submit" value="Submit" class="button">INSERT CATEGORY</button>
				</form>
				
				<div class="alert" role="alert" th:text="${error}" th:if="${error}"></div>
			</div>
		</div>
	</main>

	<div th:insert="@partials/footer :: footer"></div>
</body>

</html>