<!DOCTYPE html>
<html lang="en" xmlns:th="http://thmeleaf.org">

<div th:insert="@partials/head :: head"></div>

<body>

	<div
		th:replace="@partials/header :: formField(h1='categories', placeholder='Search categories')"></div>

	<main class="main-container">

		<div class="grid-container">

			<div th:insert="@partials/aside :: aside"></div>

			<div class="main-content">

				<div class="card" th:each="category : ${categories}">
					<section class="category-head">
						<h2 class="category-name">
							<a th:href="@{/categories/category-details/{id}(id=${category.id})}">
								<span th:text="${category.name}"></span>
							</a>
						</h2>
					</section>
					<section class="category-body">
						<ul class="category-new">
							<li class="news flex-container" th:each="news : ${category.news}">
								<a th:href="@{/news/news-details/{id}(id=${news.id})}">
									<span th:text="${news.title}"></span>
								</a>
								<span th:text="${news.date}"></span>
							</li>
						</ul>
						<span th:if="${category.news.isEmpty()}">No news</span>
					</section>
				</div>

			</div>
		</div>
	</main>

	<div th:insert="@partials/footer :: footer"></div>
</body>

</html>