<!DOCTYPE html>
<html lang="en" xmlns:th="http://thmeleaf.org">

<div th:insert="@partials/head :: head"></div>

<body>

	<div th:replace="@partials/header :: formField(h1='category', placeholder='Search categories')"></div>

	<main class="main-container">

		<div class="grid-container">

			<div th:insert="@partials/aside :: aside"></div>

			<div class="main-content">
			
				<div class="buttons-container">
					<a th:href="@{/categories/edit-category/{id}(id=${category.id})}">
						<button class="button">
							<i class="uil uil-edit-alt"></i> EDIT
						</button>
					</a>
					
					<a th:href="@{/categories/{id}(id=${category.id})}">
						<button class="button">
							<i class="uil uil-trash"></i> DELETE
						</button>
					</a>
				</div>
			
				<div class="card" th:object="${category}">
					<section class="category-head">
						<h2 class="category-name">
							<span th:text="*{name}"></span>
						</h2>
					</section>
					<section class="category-body">
						<ul class="category-new">
							<li class="news flex-container" th:each="news : ${category.news}"><span
								th:text="${news.title}"></span><span th:text="${news.date}"></span>
							</li>
						</ul>
						<span th:if="${category.news.isEmpty()}">No news</span>
					</section>
				</div>

			</div>
		</div>
	</main>

	<div th:insert="@partials/footer :: footer"></div>
</body>

</html>