<!DOCTYPE html>
<html lang="en" xmlns:th="http://thmeleaf.org">


<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>News</title>

<!-- static stylesheet -->
<link rel="stylesheet" href="../css/styles.css">
</head>

<body>

	<header class="main-header flex-container">
		<h1>AUTHORS</h1>

		<form action="#" method="post">
			<input type="text" name="search-box" id="" class="search-box"
				placeholder="Search authors">
			<button type="submit" class="search-button">Search</button>
		</form>
	</header>

	<main class="main-container">

		<div class="grid-container">

			<aside>
				<details>
					<summary>AUTHORS</summary>
					<a href="/authors">See all authors</a>
					<a href="#">Add author</a>
				</details>
				<details>
					<summary>CATEGORIES</summary>
					<a href="/categories">See all categories</a>
					<a href="#">Add category</a>
				</details>
				<details>
					<summary>NEWS</summary>
					<a href="/news">See all news</a>
					<a href="#">Add news</a>
				</details>
			</aside>

			<main>

				<div class="card" th:each="author : ${authors}">
					<section class="author-header">
						<h2 class="author-name">
							<span th:text="${author.firstName}"></span> <span> </span> <span
								th:text="${author.lastName}"></span>
						</h2>
						<h3 class="author-email">
							<span th:text="${author.email}"></span>
						</h3>
					</section>
					<section class="author-body">
						<ul class="author-news">
							<li class="news flex-container" th:each="news : ${author.news}"><span
								th:text="${news.title}"></span> <span th:text="${news.date}"></span></li>
						</ul>
					</section>
				</div>

			</main>
		</div>
	</main>

	<footer class="main-footer">
		<p>
			Developed by <a href="https://github.com/ClaudioNoggueira">Claudio
				V. Nogueira</a>
		</p>
	</footer>
</body>

</html>